
    <h1>{{ title }} app is running!</h1>
    <!-- <p>My goal for today is {{goal}}</p> -->
   <!-- <ul>
      <li *ngFor = 'let goal of goals'>
        {{goal}} 
      </li>
    </ul> -->
    <ul>
      <li *ngFor = 'let identifier of identifiers'>
        Identifier-
        {{identifier}}
      </li>
    </ul>
    <div>
      <h3>My Goals Name 1</h3>
      <hr>
      <ul>
          <li appStrikethrough *ngFor='let goal of goals'>
            {{goal.name}} 
          </li>
      </ul>
      <p *ngIf='goals.length > 5'>Your goals are too many</p>
    </div>
    <div>
      <h3>My Goals ID 1</h3>
      <hr>
      <ul>
          <li *ngFor='let goal of goals'>
            {{goal.id}}
          </li>
      </ul>
    </div>
    <app-goal ></app-goal>
    <app-item-detail [item]="currentItem"></app-item-detail>
    <app-item-output (newItemEvent)="addItem($event)"></app-item-output>
    <ul>
      <li appStrikethrough  *ngFor="let item of items">{{item}}</li>
    </ul>
  <h2>Pipes</h2>
    <div *ngFor='let goal of goals;let i = index'>
      <li appStrikethrough>{{goal.name}} due on :{{goal.completeDate}}</li> 
    </div>
    <br>
    <h3>Implementing pipes</h3>
    <div *ngFor='let goal of goals;let i = index'>
      <li appStrikethrough>{{goal.name}} due on: {{goal.completeDate|date|uppercase}}</li>
      <p>This goal will be complete in {{goal.completeDate|dateCount}} days</p>
    </div>
    <h3>Bootstrap</h3>
    <button class="btn btn-outline-danger">Danger Button</button> <br> <br>
    <button class="btn btn-success">Danger Button</button>